html{
}

::-webkit-scrollbar {
  display: none;
}

body {
  padding: none;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  -ms-overflow-style: none;
}

a{
  text-decoration: none;
}

#realBody{
  position: fixed;
  color: #086788;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #06AED5;
  overflow-y: hidden;
}

#fakeBody{
  height: 500vh;
}

div#head{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#decks{
  width: 80%;
  max-width: 1000px;
  min-width: 700px;
  height: 65vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div#foot{
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div#leftDeck{
  position: relative;
  width: 260px;
  height: 400px;
}

div#rightDeck{
  position: relative;
  width: 260px;
  height: 400px;
}

.card{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  box-sizing: border-box;
  font-size: 0.9em;
  font-weight: 800;
  width: 260px;
  height: 400px;
  border-radius: 1em;
}

.masterCard{
  color: #FFFFFF;
  background-color: #232323;
  -webkit-box-shadow: -4px 2px 32px -15px rgba(0,0,0,1);
  -moz-box-shadow: -4px 2px 32px -15px rgba(0,0,0,1);
  box-shadow: -4px 2px 32px -15px rgba(0,0,0,1);
}

.answerCard{
  color: #232323;
  background-color: #FFFFFF;
  -webkit-box-shadow: -4px 2px 35px -22px rgba(0,0,0,0.46);
  -moz-box-shadow: -4px 2px 35px -22px rgba(0,0,0,0.46);
  box-shadow: -4px 2px 35px -22px rgba(0,0,0,0.46);
}

div#foot > div{
  margin-bottom: 10px;
}

.faButton{
  color: #086788;
  margin-left: 10px;
  margin-right: 10px;
}

.faButton:hover{
  color: #054459;
}

.faButton:hover{
  cursor: pointer;
  -webkit-box-shadow: -4px 2px 32px -15px rgba(0,0,0,1);
  -moz-box-shadow: -4px 2px 32psx -15px rgba(0,0,0,1);
  box-shadow: -4px 2px 32px -15px rgba(0,0,0,1);
}

.button{
  color: #086788;
  display: flex;
  padding: 5px 15px;
  background-color: #F0C808;
  border-radius: 1em;
}

.button:hover{
  cursor: pointer;
  -webkit-box-shadow: -4px 2px 32px -15px rgba(0,0,0,1);
  -moz-box-shadow: -4px 2px 32px -15px rgba(0,0,0,1);
  box-shadow: -4px 2px 32px -15px rgba(0,0,0,1);
}

.pageIndicator{
  width:20px;
  height:20px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #FFFFFF;
  opacity: 0.3;
}

.pageIndicator:hover{
  cursor: pointer;
}

.pageIndicator.active{
  opacity:1;
}
